<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C Section</title>
    <link rel="stylesheet" href="static/css/csection.css">
</head>

<body>
    <div class="content-wrap">
        <div class="comment-item">
            <div class="comment-item--inner">
                <div class="is-left">
                    <figure class="avatar">
                        <img src="https://pbs.twimg.com/profile_images/930635331505762304/aLyI1zD5_400x400.jpg" alt="">
                    </figure>
                </div>
                <div class="is-right">
                    <div class="is-right--inner">
                        <a href="" class="name">Jae Brown</a><small>1 month ago</small>
                        <div class="the--comment">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique repellat quod nam
                                perferendis tempore accusantium sunt ullam architecto, corrupti doloremque quia, quis
                                inventore est vel magnam sit nesciunt provident. Quasi!</p>

                        </div>
                        <div class="ratings">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="shareCount plus feather feather-chevron-up">
                                <polyline points="18 15 12 9 6 15"></polyline>
                            </svg>
                            <span class="share share-count share-plus">1</span> <span class="bar">|</span><svg
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="shareCount minus feather feather-chevron-down">
                                <polyline points="6 9 12 15 18 9"></polyline>
                            </svg> <span class="share share-count share-minus"></span><span
                                class="share sharing-init">Share</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sharing-option">
                <div class="sharing-container">
                    <ul class="social-icons">
                        <li class="icon"><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                        <li class="icon"><a href=""><i class="fa fa-pinterest-square" aria-hidden="true"></i></a>
                        </li>
                        <li class="icon"><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                        </li>
                        <li class="icon"><a href=""><i class="fa fa-medium" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="close sharing-init">
                    <i class="fa fa-close" aria-hidden="true"></i>
                </div>
            </div>
        </div>

    </div>
</body>

<script src="static/js/csection.js"></script>

</html>