<!DOCTYPE html>

{% load static %}
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'static/css/Leadr.css' %}">
    <link rel="stylesheet" href="static/css/Leadr.css">
</head>

<body>
    {% block content %}


    <!-- Radio Button Module -->
    <p>1. Rate Your Artists Emcee-ing Skills?</p>
    <div id="rb-1" class="rb">
        <div class="rb-tab rb-tab-active" data-value="1">
            <div class="rb-spot">
                <span class="rb-txt">1</span>
            </div>
        </div>
        <div class="rb-tab" data-value="2">
            <div class="rb-spot">
                <span class="rb-txt">2</span>
            </div>
        </div>
        <div class="rb-tab" data-value="3">
            <div class="rb-spot">
                <span class="rb-txt">3</span>
            </div>
        </div>
        <div class="rb-tab" data-value="4">
            <div class="rb-spot">
                <span class="rb-txt">4</span>
            </div>
        </div>
        <div class="rb-tab" data-value="5">
            <div class="rb-spot">
                <span class="rb-txt">5</span>
            </div>
        </div>
    </div>

    <!-- Radio Button Module -->
    <p>2. Rate Your Artists complete discography </p>
    <div id="rb-2" class="rb">
        <div class="rb-tab" data-value="1">
            <div class="rb-spot">
                <span class="rb-txt">1</span>
            </div>
        </div>
        <div class="rb-tab rb-tab-active" data-value="2">
            <div class="rb-spot">
                <span class="rb-txt">2</span>
            </div>
        </div>
        <div class="rb-tab" data-value="3">
            <div class="rb-spot">
                <span class="rb-txt">3</span>
            </div>
        </div>
        <div class="rb-tab" data-value="4">
            <div class="rb-spot">
                <span class="rb-txt">4</span>
            </div>
        </div>
        <div class="rb-tab" data-value="5">
            <div class="rb-spot">
                <span class="rb-txt">5</span>
            </div>
        </div>
    </div>

    <!-- Radio Button Module -->
    <p>3. Rate Your Artists Sales, i.e. Albums, merch, singles</p>
    <div id="rb-3" class="rb">
        <div class="rb-tab" data-value="1">
            <div class="rb-spot">
                <span class="rb-txt">1</span>
            </div>
        </div>
        <div class="rb-tab" data-value="2">
            <div class="rb-spot">
                <span class="rb-txt">2</span>
            </div>
        </div>
        <div class="rb-tab rb-tab-active" data-value="3">
            <div class="rb-spot">
                <span class="rb-txt">3</span>
            </div>
        </div>
        <div class="rb-tab" data-value="4">
            <div class="rb-spot">
                <span class="rb-txt">4</span>
            </div>
        </div>
        <div class="rb-tab" data-value="5">
            <div class="rb-spot">
                <span class="rb-txt">5</span>
            </div>
        </div>
    </div>

    <!-- Radio Button Module -->
    <p>4. Rate Your Artists Trendsetting and Cultural Impact</p>
    <div id="rb-4" class="rb">
        <div class="rb-tab" data-value="1">
            <div class="rb-spot">
                <span class="rb-txt">1</span>
            </div>
        </div>
        <div class="rb-tab" data-value="2">
            <div class="rb-spot">
                <span class="rb-txt">2</span>
            </div>
        </div>
        <div class="rb-tab" data-value="3">
            <div class="rb-spot">
                <span class="rb-txt">3</span>
            </div>
        </div>
        <div class="rb-tab rb-tab-active" data-value="4">
            <div class="rb-spot">
                <span class="rb-txt">4</span>
            </div>
        </div>
        <div class="rb-tab" data-value="5">
            <div class="rb-spot">
                <span class="rb-txt">5</span>
            </div>
        </div>
    </div>

    <!-- Radio Button Module -->
    <p>5. Rate Your Artists Songwriting ability</p>
    <div id="rb-5" class="rb">
        <div class="rb-tab" data-value="4">
            <div class="rb-spot">
                <span class="rb-txt">4</span>
            </div>
        </div>
        <div class="rb-tab" data-value="2">
            <div class="rb-spot">
                <span class="rb-txt">2</span>
            </div>
        </div>
        <div class="rb-tab" data-value="5">
            <div class="rb-spot">
                <span class="rb-txt">5</span>
            </div>
        </div>
        <div class="rb-tab" data-value="1">
            <div class="rb-spot">
                <span class="rb-txt">1</span>
            </div>
        </div>
        <div class="rb-tab rb-tab-active" data-value="3">
            <div class="rb-spot">
                <span class="rb-txt">3</span>
            </div>
        </div>
    </div>

    <p>6. Rate Your Artists Longevity?</p>
    <div id="rb-1" class="rb">
        <div class="rb-tab rb-tab-active" data-value="1">
            <div class="rb-spot">
                <span class="rb-txt">1</span>
            </div>
        </div>
        <div class="rb-tab" data-value="2">
            <div class="rb-spot">
                <span class="rb-txt">2</span>
            </div>
        </div>
        <div class="rb-tab" data-value="3">
            <div class="rb-spot">
                <span class="rb-txt">3</span>
            </div>
        </div>
        <div class="rb-tab" data-value="4">
            <div class="rb-spot">
                <span class="rb-txt">4</span>
            </div>
        </div>
        <div class="rb-tab" data-value="5">
            <div class="rb-spot">
                <span class="rb-txt">5</span>
            </div>
        </div>
    </div>

    <!-- Button -->
    <div class="button-box">
        <button class="button trigger">Submit!</button>
    </div>

    </div>
</body>

<script src="{% static 'static/js/Leadr.js'%}" type="text/javascript"></script>
<script src="static/js/Leadr.js"></script>

</html>
{% endblock %}